body{
    font-family: sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 70px; 
    background-color:cornflowerblue ;
    align-items: center;
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

.Productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 20px;

}

.caja img{
    width: 220px;
    height: 280px;
    border-radius: 20px;
}
.caja {
    margin: 30px;
}

.caja p{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.left{
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
}
 /********************************************************/
 

.Productos .caja {
	width: 300px;
	height: 300px;
	position: relative;
	margin-bottom: 35px;
	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
	transition: 0.6s ease;
}
.Productos .caja:hover {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}


.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
	width: 100%;
	height: 0;
	transition: 0.55s ease;
	overflow: hidden;
}
.overlay h2 {
	color: #fff;
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.caja:hover .overlay {
	height: 100%;
	cursor: pointer;
	border-radius: 5px;
}
/*****************************************/
.contenedor-modal.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(211, 211, 211, 0.459);
}
