body{
    font-family: sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 70px; 
    background-color:cornflowerblue ;
    align-items: center;
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

h1{
    color: white;
    background-color: cornflowerblue;
    padding-top: 10px;
    margin-top: 10px;
    text-shadow: 1px 2px 2px black, 0 0 25px white, 0 0 5px black;
    text-align: center;
}

div.galeria{

    margin: 50px 10px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0,0.19);
    float: left;
    width: 210px;
    height: 170px;
}

div.galeria img{
    width: 150px;
    height: 150px;
}

div.galeria:hover{
    border: 10px solid cornflowerblue;
    transform: rotate(-3deg);
}
div.pie{
    text-align: left;
    text-shadow: 2px 2px 5px gray ;
    padding: 10px;
}
p{
    text-align: center;
}

.galeriaTotal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px;
}

.left{
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;

}


.left a{
    padding: 10px;
    
}



